<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/app.css">
  </head>
  <body>

        <div id="headerContainer" class="headerContainer" align="center">
            <p class="headerLogo" align="center"><b style="top: 30px;position: relative;">Single Sign-on Portal</b></p>
        </div>
        <div>
            <h1 style="text-align: center;">Thank you for registration, Waiting for admin approval!</h1>
            <a href="/">Check status</a>
        </div>

    </form>
  </body>
</html>
