<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/app.css">
  <script>
    function beforeRedirect(str){
        //check if Rainbow graph service is invoked
        if(str == "RainbowGraph"){
            document.getElementById("form1").action = "https://afternoon-river-37914.herokuapp.com/developer?id={{  id }}";
            document.getElementById("form1").submit();
        }
    }
    function openTab(evt, tabName) {
        if(tabName=="links"){
            document.getElementById("manageToken").style.display = "none";
            document.getElementById("links").style.display = "block";
            document.getElementById("viewToken").style.display = "none";
            if(document.getElementById('token')!=null)
                document.getElementById('token').className -= 'active';
            if(document.getElementById('viewtoken')!=null)
                document.getElementById('viewtoken').className -= 'active';
        }
        else if(tabName=="token"){
            document.getElementById("links").style.display = "none";
            document.getElementById("manageToken").style.display = "block";
            document.getElementById("viewToken").style.display = "none";
            if(document.getElementById('link')!=null)
                document.getElementById('link').className -= 'active';
            if(document.getElementById('viewtoken')!=null)
                document.getElementById('viewtoken').className -= 'active';
        }
        else if(tabName=="viewtoken"){
            document.getElementById("links").style.display = "none";
            document.getElementById("manageToken").style.display = "none";
            document.getElementById("viewToken").style.display = "block";
            if(document.getElementById('link')!=null)
                document.getElementById('link').className -= 'active';
            if(document.getElementById('token')!=null)
                document.getElementById('token').className -= 'active';
        }
        evt.currentTarget.className += " active";
    }
    function onLoad(){
        document.getElementById("manageToken").style.display = "none";
        document.getElementById("viewToken").style.display = "none";
        document.getElementById('link').className += 'active';
    }
    function copyToClipboard(elementId) {
      // Create an auxiliary hidden input
      var aux = document.createElement("input");
      // Get the text from the element passed into the input
      aux.setAttribute("value", document.getElementById(elementId).value);
      // Append the aux input to the body
      document.body.appendChild(aux);
      // Highlight the content
      aux.select();
      // Execute the copy command
      document.execCommand("copy");
      // Remove the input from the body
      document.body.removeChild(aux);
    }
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>

  </head>
  <body onload="onLoad()">

    <form id="form1" name="form1" method="get" action = "">
        <div id="headerContainer" class="headerContainer" align="center">
            <p class="headerLogo" align="center"><b style="top: 30px;position: relative;">Single Sign-on Portal</b></p>
        </div>
        <ul class="tab">
            <li><a href="javascript:void(0)" id="link" onclick="openTab(event, 'links')">Links</a></li>
            <li><a href="javascript:void(0)" id="token" onclick="openTab(event, 'token')">Manage Token</a></li>
            <li><a href="javascript:void(0)" id="viewtoken" onclick="openTab(event, 'viewtoken')">View Token</a></li>
        </ul>
        {% if data["isAdmin"]==1 %}
            <div class="aview">
                <a href="/admin">Admin view</a>
            </div>
        {% endif %}
        <div class="dropdown">
            {%  if data['name']=="" %}
                <button onmouseover="myFunction()" class="dropbtn"> "User"</button>
                <div id="myDropdown" class="dropdown-content">
                <a href="/logout">Log out</a>
            {% endif %}
            {%  if data['name']!=nil %}
                <button onmouseover="myFunction()" class="dropbtn">{{ data["name"] }}</button>
                <div id="myDropdown" class="dropdown-content">
                <a href="/logout">Log out</a>
            {% endif %}
            </div>
        </div>
        <div id="links">
            <input type="hidden" name="id" value={{ data["id"] }}>
            <span>Link 1 :</span><a href="#" onclick="beforeRedirect(this.innerHTML)">RainbowGraph</a>
        </div>
        <div id="manageToken">
            <a href="/delete_token?id={{ id }}">Delete Token</a>
        </div>
        <div id="viewToken">
            <div id="example-target" class="example">
            <div class="input-group">
                <span>Token : </span>
                <input id="token_data" type="text" value="{{ data['id'] }}" readonly>
                <span class="input-group-button">
                <button class="btn tooltip" type="button" onclick="copyToClipboard('token_data')">
                    <img class="clippy" src="static/images/clippy.svg" width="13" alt="Click to copy">
                    <span class="tooltiptext">Copy to clipboard</span>
                </button>
                </span>
            </div>
            </div>
        </div>

            {% if data["calls"]==0 %}
                <h1>You have used maximum allowed calls for the day!</h1>
            {% endif %}
    </form>

  </body>
</html>
